<h2>ผลไม้</h2>

<nz-modal
  [(nzVisible)]="isShowmodalUpdated"
  nzTitle="แก้ไขข้อมูล"
  (nzOnCancel)="cancelupdate()"
  [nzFooter]="modalFooter"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitFormEdit()">
      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzRequired>ชื่อ</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="กรุณากรอกชื่อ">
          <input id="Name" type="text" nz-input formControlName="Name" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5">รูป</nz-form-label>

        <div class="image-upload">
          <img [src]="imageSrc" style="max-width: 300px; max-height: 300px" />
          <input
            style="margin-top: -20px"
            name="imageUrl"
            type="file"
            accept="image/*"
            (change)="handleInputChange($event)"
          />
        </div>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control [nzSpan]="6" [nzOffset]="5">
          <button nz-button nzType="primary">Submit</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
  <ng-template #modalFooter> </ng-template>
</nz-modal>

<nz-modal
  [(nzVisible)]="isShowmodal"
  nzTitle="เพิ่มข้อมูล"
  (nzOnCancel)="cancel()"
  [nzFooter]="modalFooter"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzRequired>ชื่อ</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="กรุณากรอกชื่อ">
          <input id="Name" type="text" nz-input formControlName="Name" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5">รูป</nz-form-label>

        <div class="image-upload">
          <img [src]="imageSrc" style="max-width: 300px; max-height: 300px" />

          <input
            style="margin-top: -20px"
            name="imageUrl"
            type="file"
            accept="image/*"
            (change)="handleInputChange($event)"
          />
        </div>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control [nzSpan]="6" [nzOffset]="5">
          <button nz-button nzType="primary">Submit</button>
        </nz-form-control>
      </nz-form-item>
    </form>

    <!-- <input nz-input placeholder="Basic usage" [(ngModel)]="licensePate" />

    <textarea rows="4" nz-input [(ngModel)]="annotation"></textarea> -->
  </ng-container>
  <ng-template #modalFooter>
    <!-- <button nz-button nzType="default" (click)="cancel()">Custom Callback</button>
    <button nz-button nzType="primary" (click)="submitdata()" [nzLoading]="isConfirmLoading">Custom Submit</button> -->
  </ng-template>
</nz-modal>

<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
  <div nz-col class="gutter-row" [nzSpan]="18"></div>
  <div nz-col class="gutter-row" [nzSpan]="4">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input
        type="text"
        nz-input
        placeholder="input search text"
        [(ngModel)]="searchValue"
      />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <i nz-icon nzType="search"></i>
    </ng-template>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="2">
    <button (click)="addData()" nz-button nzType="default" nzDanger>
      เพิ่มข้อมูล
    </button>
  </div>
</div>
<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
  <div nz-col class="gutter-row" [nzSpan]="5"></div>
  <div nz-col class="gutter-row" [nzSpan]="24">
    <nz-table #basicTable [nzData]="listFruit" [nzPageSize]="4">
      <thead>
        <tr>
          <th nzWidth="300px">ลำดับ</th>
          <th nzWidth="300px">
            ชื่อ
            <nz-filter-trigger
              [(nzVisible)]="visible"
              [nzActive]="searchValue.length > 0"
              [nzDropdownMenu]="menu"
            >
              <i nz-icon nzType="search"></i>
            </nz-filter-trigger>
          </th>
          <th>รูป</th>

          <th nzWidth="300px">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let data of basicTable.data | filter:searchValue; let i = index "
        >
          <td>{{ i + 1 }}</td>
          <td>{{ data.Name }}</td>
          <td nzWidth="100px">
            <img
              style="width: 30%"
              src="{{ data.img }}"
              alt="{{ data.Name }}"
            />
          </td>

          <td nzWidth="200">
            <a (click)="updatefruit(data)">Edit </a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="deletefruit(data.id)">Delete</a>
          </td>
        </tr>
      </tbody>
    </nz-table>

    <nz-dropdown-menu #menu="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <input
            type="text"
            nz-input
            placeholder="Search name"
            [(ngModel)]="searchValue"
          />
          <button
            nz-button
            nzSize="small"
            nzType="primary"
            (click)="search()"
            class="search-button"
          >
            Search
          </button>
          <button nz-button nzSize="small" (click)="resetSearch()">
            Reset
          </button>
        </div>
      </div>
    </nz-dropdown-menu>
  </div>
</div>
