<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a routerLink="/login">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />

        <h1>PupanManage</h1>
      </a>
    </div>


    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >

     <li
        nz-menu-item
        nzMatchRouter="true"
      >
        <a [routerLink]="['/question1']">
          <i nz-icon nzType="cluster" nzTheme="outline"></i>
          <span class="nav-text">quiz1</span>
        </a>
      </li>



      <li nz-submenu nzOpen nzTitle="Manage" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/Manage">Manage</a>
          </li>
        </ul>
      </li>
    </ul>




  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
